@model Frontend.Models.ResultModel

<div style="margin: 50px">
    <div>
        <p>Route constraint test with Regular Expression and Cutom Route Constraint</p>
        <p>Each link test a success/fail scenario for each way to create a route constraint</p>
        <ul>
            <li>@Html.ActionLink("Success test by Reg exp", "RegularExpressionConstraint", "TestRouteConstraint", new {user = "rdiegoni"}, null)</li>
            <li>@Html.ActionLink("Fail test by Reg exp", "RegularExpressionConstraint", "TestRouteConstraint", new {user = "xxx"}, null)</li>
            <li>@Html.ActionLink("Success test by Custom Constraint", "CustomRouteConstraint", "TestRouteConstraint", new {user = "rdiegoni"}, null)</li>
            <li>@Html.ActionLink("Fail test by Reg Custom Constraint", "CustomRouteConstraint", "TestRouteConstraint", new {user = "xxx"}, null)</li>
        </ul>
    </div>
</div>
